
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import url("hero.css");
@import url("scroll.css");
@import url("about.css");
@import url("foodmenu.css");
@import url("contact.css");
@import url("footer.css");
@import url("payment.css");

:root {
    --dark-hover: #2b2214;
    --white-color: #ffffffb9;
    --white-hover: #ffffffb9;
    --orange-color: #ffa617bf;
    --orange-hover: #ffa617;
    --dark-color: #2b2214b4;
    --light-orange: #78613d9c;
    --background: #f0f0f0;
    --heading: #504129;
    
    --font-family: 'Anton', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

    background-color: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}
