    /* Hero Section */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

    /* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 10;
}

.navbar h1 {
    flex: 1;
    text-align: center;
    font-size: 45vh;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
}
span.fries {
    color: #ffffffb9; /* Fire color */
    transition: color 3.5s ease-out ;
}
span.fries:hover {
    color: #ffffff; /* Fire color on hover */
    transition: color 1.5s ease-in ;
}


span.ice {
    color: #ffa617bf; /* Ice color */
    transition: color 3.5s ease-out;
}
span.ice:hover {
    color: #ffa617; /* Fire color on hover */
    transition: color 1.5s ease-in;
}


span.n {
    font-size: 60vh;
    color: #2b2214b4; /* Neutral color */
    transition: color 5s ease-out;
}
span.n:hover {
    color: #2b2214; /* Fire color on hover */
    transition: color 3s ease-in;
}

.menu-btn {
    position: absolute;
    right: 40px;
    top: 20px;
    background: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}
.menu-btn img {
    width: 60px;
    height: 30px;
}

    /* Hidden Menu */
.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;


    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* ...other styles... */
    display: flex;
}


.menu .closemenu img{
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 8px 16px;

    width: 60px;
}

.menu a {
    color: #ffa617;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 400;

    text-transform: uppercase;
    transition: color 0.5s ease;
}
.menu a:hover {
    color: #2b2214;
}

.menu.show {
    display: flex;
    /* transition: all 0.3s ease-in-out; */

    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.order {
    position: absolute;
    bottom: 7vh;
    right: 0;
    /* margin: 50px; */
    display: flex;
    text-align: center;
    
    align-items: center;
    justify-content: center;
    
}
.order a {
    color: #78613d9c;
    font-size: 10vh;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.order a:hover {
    color: #2b2214;
    transition: color 0.5s ease;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;

    text-decoration-color: #2b2214;
    text-decoration-style: wavy;

}

@media (max-width: 1440px) {

    .navbar{
        margin-top: 120px;
    }
    .navbar h1 {
        font-size: 40vh;
    }
    span.n{
        font-size: 50vh;
    }
    .menu a {
        font-size: 5rem;
    }
    .order a {
        font-size: 10vh;
    }
}


@media (max-width: 1280px) {

    .navbar{
        margin-top: 100px;
    }
    .navbar h1 {
        font-size: 35vh;
    }
    span.n{
        font-size: 45vh;
    }
    .menu a {
        font-size: 4.5rem;
    }
    .order a {
        font-size: 9vh;
    }
    .order{
        bottom: 3vh;
    }
}

@media (max-width: 1200px) {
    .navbar{
        margin-top: 90px;
    }
    .navbar h1 {
        font-size: 33vh;
    }
    span.n{
        font-size: 43vh;
    }
    .menu a {
        font-size: 4rem;
    }
    .order a {
        font-size: 8.5vh;
    }
}

@media (max-width: 1024px) {

    .hero{
        background-image: url("/assets/hero-tablet.jpg");
    }
    .navbar{
        margin-top: 120px;
    }
    .navbar h1 {
        font-size: 28vh;
    }
    span.n{
        font-size: 38vh;
    }
    .menu a {
        font-size: 4rem;
    }
    .order a {
        font-size: 8vh;
    }
    .order{
        bottom: 3vh;
    }
    .menu-btn{
        top: 0;
    }
}

@media (max-width: 900px) {

    .navbar{
        margin-top: 120px;
        padding-top: 60px;
    }
    .navbar h1 {
        font-size: 22vh;
    }
    span.n{
        font-size: 32vh;
    }
    .menu a {
        font-size: 4rem;
    }
    .order a {
        font-size: 8vh;
    }
    .order{
        bottom: 2vh;
    }
    .menu-btn{
        top: 0;
        right: 20px;
        padding: 4px 8px;
    }
    .menu-btn img {
        width: 50px;
        height: 25px;
    }
}

@media (max-width: 600px) {
    .hero{
        background-image: url("/assets/hero-mobile.jpg");
    }
    .navbar{
        margin-top: 20px;
        padding-top: 30px;
    }
    .navbar h1 {
        font-size: 25vh;
    }
    span.n{
        font-size: 10vh;
        display: block;
    }
    
    .menu a {
        font-size: 4rem;
    }
    .order a {
        font-size: 6vh;
    }
    .order{
        bottom:8vh;
    }
    .menu-btn{
        top: 20px;
        right: 20px;
        padding: 4px 8px;
    }
    .menu-btn img {
        width: 40px;
        height: 20px;
    }
}